<div class="content" role="main">

    <h2 class="reasnpad" *ngIf="files.length==0">Select files:</h2>
    <h2 class="reasnpad" *ngIf="files.length==1">Select last file:</h2>
    <h2 class="reasnpad" *ngIf="files.length==2">Replace file:</h2>
    
    <app-filechooser (onFileSelect)="onFileSelected($event)"></app-filechooser>
    
    <h2 *ngIf="files.length == 1">Chosen file:</h2>
    <h2 *ngIf="files.length > 1">Chosen files:</h2>
  
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm">
          <app-infocard [info]="files[0]"></app-infocard>
        </div>
        <div class="col-sm">
        <app-infocard [info]="files[1]"></app-infocard>
        </div>
      </div>
    </div>
  
   
  </div>