<form [formGroup]="detailsForm" (ngSubmit)="onSubmitUserDetails(detailsForm)">

    <label>Full Name</label>
    <input type="text" class="form-control" id="fullname" placeholder="Jane Doe" formControlName="fullnameControl"
     [ngClass]="{
            'is-valid': !detailsForm.get('fullnameControl')?.hasError('required'),
            'is-invalid': isSubmitted &&detailsForm.get('fullnameControl')?.hasError('required')
            }">
    <div *ngIf="detailsForm.get('fullnameControl')?.hasError('required')" class="invalid-feedback">Please enter name</div>

    <label>ID Number</label>
    <input type="text" class="form-control" id="idnumber" formControlName="idnumberControl" 
     [ngClass]="{
                'is-valid': !detailsForm.get('idnumberControl')?.hasError('required') && !detailsForm.get('idnumberControl')?.hasError('invalidsaid'),
                'is-invalid': isSubmitted && (detailsForm.get('idnumberControl')?.hasError('required') || detailsForm.get('idnumberControl')?.hasError('invalidsaid'))
            }">
    <div *ngIf="isSubmitted && detailsForm.get('idnumberControl')?.hasError('required')" class="invalid-feedback">Please enter id number</div>
    <div *ngIf="isSubmitted &&
         !detailsForm.get('idnumberControl')?.hasError('required') &&
         detailsForm.get('idnumberControl')?.hasError('invalidsaid')" class="invalid-feedback">Entered id number is not valid</div>

    <label>OTP</label>
    <input type="text" placeholder="e.g. 123456789" class="form-control" id="otp" formControlName="otpControl"
        [ngClass]="{
                'is-valid': !detailsForm.get('otpControl')?.hasError('required'),
                'is-invalid': isSubmitted && detailsForm.get('otpControl')?.hasError('required')
                }"> 
    <div *ngIf="isSubmitted && detailsForm.get('otpControl')?.hasError('required')" class="invalid-feedback">Please enter otp</div>
<br>
<button type="submit" class="btn btn-primary">Next</button>

<div class="disclaimerthing">
    By clicking next, I agree that the above information is accurate.
</div>
</form>