
table {
    width: 100%;
}

.mat-cell, .mat-header-cell{
    padding: 20px;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-elevation-z8{
    margin-top: 1rem;
}

